@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&display=swap');

p {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

a {
    font-size: 1rem;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
}

header ul li {
    list-style: none;
    padding: 1rem;
}

header ul li a {
    text-decoration: none;
    color: #252525;
}

#Logo {
    height: 100px;
    width: 100px;
}

.contact {
    background-color: #e6bd43;
    padding: 1rem;
    border-radius: 2px;
    transition: all 0.1s linear;
}

.contact:hover{
    background-color: black;
    color: #e6bd43;
}

.activeLink {
    color: black;
    text-decoration-color: #e6bd43;
    text-decoration-line: underline;
    font-weight: bold;
}

.tilbake {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: black;
}

.headline {
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 320px;
    padding: 1rem 0;
}

.headline p {
    text-align: center;
    margin: 2rem auto;
    width: 50%;
}

.headline a {
    text-decoration: none;
}

.video {
    position: absolute;
    z-index: -1;
    padding-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0.5;
}

.read-more {
    padding: 1rem;
    background-color: #e6bd43;
    border-radius: 2px;
    color: black;
    transition: all 0.1s linear;
}

.read-more:hover {
    background-color: black;
    color: #e6bd43;
}

.subheading {
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.sec1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #e6bd43;
}

.service-right {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
}

.sec1 img {
    padding: 1rem;
}

.read-more-about-us {
    text-decoration: none;
    padding: 1rem;
    border: 2px solid black;
    color: black;
}

.read-more-about-us:hover {
    background-color: black;
    color: #e6bd43;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4rem 0;
}

#services article {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    align-items: center;
}

#services article i {
    scale: 200%;
}

.signup {
    background-color: darkgray;
    padding: 3rem 0;
    text-align: center;
}

.sign-me-up {
    background-color: #e6bd43;
    color: #252525;
    text-decoration: none;
    padding: 0.5rem;
}

.sign-me-up:hover {
    background-color: black;
    color: #e6bd43;
}

#epost {
    height: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    color: #fff;
    padding: 1rem;
}

footer ul {
    display: flex;
    padding: 1rem;
}

footer ul li {
    list-style: none;
    scale: 200%;
    padding: 1rem;
}

#Logo-footer {
    height: 100px;
    width: 100px;
    padding: 1rem;
}

.hero {
    background-image: url(../img/ressurser/pen-4337521_1200.jpg);
    background-size: cover;
    background-color: #ffffff7e;
    background-blend-mode: lighten;
    width: 100%;
    height: 320px;
    padding: 1rem 0;
    text-align: center;
}

.hero h1 {
    margin: 7rem 0;
}

.port-nav {
    margin: 1rem;
}

.port-nav h2 {
    width: 100%;
    border-bottom: 3px solid #e6bd43;
    text-align: start;
}

.port-nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0.2rem;
    border: 1px solid black;
    font-size: 16px;
}

.port-nav a:hover {
    background-color: black;
    color: #e6bd43;
    font-weight: bold;
}

#Branding {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

#Branding h2 {
    width: 100%;
    border-bottom: 3px solid #e6bd43;
    text-align: start;
}

#Design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

#Design h2 {
    width: 100%;
    border-bottom: 3px solid #e6bd43;
    text-align: start;
}

#Development {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

#Development h2 {
    width: 100%;
    border-bottom: 3px solid #e6bd43;
    text-align: start;
}

.img-1 {
    height: 350px;
    width: 350px;
}

.img-2 {
    height: 500px;
    width: 500px;
}

.port-1 {
    transition: 0.4s;
}

.port-1:hover {
    transform: scale(1.1);
}

.port-2 {
    transition: 0.4s;
}

.port-2:hover {
    transform: scale(1.05);
}

.about-headline-img {
    position: relative;
}

.about-headline-img img {
    width: 100%;
    height: 350px;
}

 .about-headline {
    background-color: rgb(255,255,255,0.75);
    color: black;
    position: absolute;
    width: 50%;
    right: 1rem;
    top: 1rem;
    height: 300px;
    margin: 1rem;
}

.about-headline p {
    font-size: small;
    padding: 0 0.5rem;
}

.about-headline h1 {
    margin: 0;
    font-size: 26px;
}

.Get-in-touch {
    padding: 0.5rem;
    background-color: #e6bd43;
    color: black;
    text-decoration: none;
    margin: 1rem;
}

.Get-in-touch:hover {
    color: #e6bd43;
    background-color: black;
}   

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.services article {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    align-items: center;
}

.services article i {
    scale: 200%;
}

.clients {
    background-color: #e6bd43;
    padding: 1rem;
}

.clients h2 {
    width: 100%;
}

.clients article {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

#Contact-us {
    display: flex;
    margin: 2rem;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
}

.send-message {
    padding: 0.5rem;
    background-color: #e6bd43;
    color: black;
    text-decoration: none;
}

.send-message:hover {
    color: #e6bd43;
    background-color: black;
}

@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    header ul {
        flex-direction: column;
    }

    #Logo {
        scale: 1.5;
    }

    .video {
        display: none;
    }

    .headline {
        height: 600px;
        background-image: url(../img/ressurser/pen-4337521_640.jpg);
        background-size: cover;
        background-color: #ffffff7e;
        background-blend-mode: lighten;
    }

    .sec1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
    }

    .service-right {
        width: 100%;
    }

    #services {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    #services article {
        max-width: none;
    }

    #services article p {
        font-size: 3rem;
    }

    #Branding {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #Design {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
    }

    #Development {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
    }

    .port-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .port-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .img-1 {
        scale: 0.6;
    }

    .img-2 {
        scale: 0.6;
    }

}

